body{
    margin:0px;
    display: flex;
    justify-content: center;align-items: center;
    height: 100vh;
    background-image: linear-gradient( to bottom right, rgb(14, 14, 153), rgb(114, 43, 114));
}

#calculator{
    font-family: sans-serif;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    max-width: 500px;
    padding: 40px;
    overflow: hidden;
}

#display{
    width: 100%;
    text-align: right;
    background-color: hsl(171, 39%, 29%);
    padding: 50px;
    text-align: left;
    font-size: 5rem;
    color:rgb(17, 15, 15);
    border: 5px solid rgb(45, 49, 54);
    border-radius: 30px;
    box-sizing: border-box;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border:none;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 3rem;
    font-weight: bold;
}

button:hover{
    background-color: hsl(0, 0%, 40%);
}

button:active{
    background-color: hsl(0, 0%, 60%);
}

.operator-btn{
    background-color: hsl(271, 96%, 50%);
}

.operator-btn:hover{
    background-color: hsl(271, 96%, 36%);
}

.operator-btn:active{
    background-color: hsl(281, 96%, 50%);
}

.equal{
    border-radius: none;
}

.backspace{
    background-color: rgb(241, 112, 188);
    border: none
}
.backspace:hover{
    background-color: rgb(148, 64, 113);
}
.backspace:active{
    background-color: rgb(241, 112, 188);
}

.numbers{
    border:2px solid white
    
}

.manual{
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    border:none;
    transition: all 0.7 ease;
}
.manual:hover {
    background-color: blue;
    animation: pulse 0.8s infinite; /* Applies a pulse animation */
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);  /* Scales the button to 110% of its size */
    }
    100% {
        transform: scale(1);
    }
}